In [1]:
#Import libraries
import sqlite3
import pandas as pd
import openpyxl
from scipy import stats

In [2]:

# Establish Database Connection
con = sqlite3.connect('products.db')
cur = con.cursor()

# Read the CSV file into a DataFrame with the specified encoding
df = pd.read_csv('Sample-Superstore.csv', encoding='latin-1')

FileNotFoundError: [Errno 2] No such file or directory: 'Sample-Superstore.csv'

In [12]:
df.head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.0,6.8714

In [13]:
#let's take one potential table as an example
orders = df[["Order ID", "Customer ID", "Order Date", "Ship Date"]]

#convert datatypes 
orders = orders.astype({
    'Order ID': 'string',
    'Customer ID': 'string',
    'Order Date': 'datetime64',
    'Ship Date': 'datetime64',

})

orders.dtypes

Order ID               string
Customer ID            string
Order Date     datetime64[ns]
Ship Date      datetime64[ns]
dtype: object

In [14]:
#now that we're sure, let's convert

orders.to_sql('csv_orders', con, if_exists='replace', index=False)

9994

In [15]:
import pandas as pd
import sqlite3

# Establish a connection to the SQLite database
con = sqlite3.connect("products.db")

# Read the "csv_orders" table into a DataFrame
df = pd.read_sql("SELECT * FROM csv_orders", con)

# Display the DataFrame
print(df)

            Order ID Customer ID           Order Date            Ship Date
0     CA-2016-152156    CG-12520  2016-11-08 00:00:00  2016-11-11 00:00:00
1     CA-2016-152156    CG-12520  2016-11-08 00:00:00  2016-11-11 00:00:00
2     CA-2016-138688    DV-13045  2016-06-12 00:00:00  2016-06-16 00:00:00
3     US-2015-108966    SO-20335  2015-10-11 00:00:00  2015-10-18 00:00:00
4     US-2015-108966    SO-20335  2015-10-11 00:00:00  2015-10-18 00:00:00
...              ...         ...                  ...                  ...
9989  CA-2014-110422    TB-21400  2014-01-21 00:00:00  2014-01-23 00:00:00
9990  CA-2017-121258    DB-13060  2017-02-26 00:00:00  2017-03-03 00:00:00
9991  CA-2017-121258    DB-13060  2017-02-26 00:00:00  2017-03-03 00:00:00
9992  CA-2017-121258    DB-13060  2017-02-26 00:00:00  2017-03-03 00:00:00
9993  CA-2017-119914    CC-12220  2017-05-04 00:00:00  2017-05-09 00:00:00

[9994 rows x 4 columns]

In [16]:
# Perform SQL query
query = "SELECT * FROM csv_orders"
result = pd.read_sql_query(query, con)

# Print the result
print(result)

# Close the database connection
con.close()

            Order ID Customer ID           Order Date            Ship Date
0     CA-2016-152156    CG-12520  2016-11-08 00:00:00  2016-11-11 00:00:00
1     CA-2016-152156    CG-12520  2016-11-08 00:00:00  2016-11-11 00:00:00
2     CA-2016-138688    DV-13045  2016-06-12 00:00:00  2016-06-16 00:00:00
3     US-2015-108966    SO-20335  2015-10-11 00:00:00  2015-10-18 00:00:00
4     US-2015-108966    SO-20335  2015-10-11 00:00:00  2015-10-18 00:00:00
...              ...         ...                  ...                  ...
9989  CA-2014-110422    TB-21400  2014-01-21 00:00:00  2014-01-23 00:00:00
9990  CA-2017-121258    DB-13060  2017-02-26 00:00:00  2017-03-03 00:00:00
9991  CA-2017-121258    DB-13060  2017-02-26 00:00:00  2017-03-03 00:00:00
9992  CA-2017-121258    DB-13060  2017-02-26 00:00:00  2017-03-03 00:00:00
9993  CA-2017-119914    CC-12220  2017-05-04 00:00:00  2017-05-09 00:00:00

[9994 rows x 4 columns]

In [25]:
# Select the desired columns from the original DataFrame
Superstore = df[["Order ID", "Order Date", "Ship Date", "Ship Mode", "Customer ID", "Customer Name", "Segment", "Country", "City", "Postal Code", "Region", "Product ID", "Category", "Sub-Category", "Product Name", "Sales", "Quantity", "Discount", "Profit"]]

# Specify data types for all columns
data_types = {
    "Order ID": 'int',
    "Order Date": 'str',
    "Ship Date": 'str',
    "Ship Mode": 'str',
    "Customer ID": 'str',
    "Customer Name": 'str',
    "Segment": 'str',
    "Country": 'str',
    "City": 'str',
    "Postal Code": 'int',
    "Region": 'str',
    "Product ID": 'str',
    "Category": 'str',
    "Sub-Category": 'str',
    "Product Name": 'str',
    "Sales": 'float',
    "Quantity": 'int',
    "Discount": 'float',
    "Profit": 'float'
}

Superstore.dtypes

Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

In [ ]:
display(Superstore)

,Order ID,Customer ID,Order Date,Ship Date,Ship Mode,Customer Name,Segment,Country,City,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2016-152156,CG-12520,11/8/2016,11/11/2016,Second Class,Claire Gute,Consumer,United States,Henderson,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,CA-2016-152156,CG-12520,11/8/2016,11/11/2016,Second Class,Claire Gute,Consumer,United States,Henderson,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,CA-2016-138688,DV-13045,6/12/2016,6/16/2016,Second Class,Darrin Van Huff,Corporate,United States,Los Angeles,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,US-2015-108966,SO-20335,10/11/2015,10/18/2015,Standard Class,Sean O'Donnell,Consumer,United States,Fort Lauderdale,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,US-2015-108966,SO-20335,10/11/2015,10/18/2015,Standard Class,Sean O'Donnell,Consumer,United States,Fort Lauderdale,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,CA-2014-110422,TB-21400,1/21/2014,1/23/2014,Second Class,Tom Boeckenhauer,Consumer,United States,Miami,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,CA-2017-121258,DB-13060,2/26/2017,3/3/2017,Standard Class,Dave Brooks,Consumer,United States,Costa Mesa,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,CA-2017-121258,DB-13060,2/26/2017,3/3/2017,Standard Class,Dave Brooks,Consumer,United States,Costa Mesa,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,CA-2017-121258,DB-13060,2/26/2017,3/3/2017,Standard Class,Dave Brooks,Consumer,United States,Costa Mesa,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,CA-2017-119914,CC-12220,5/4/2017,5/9/2017,Second Class,Chris Cortes,Consumer,United States,Westminster,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [ ]:
#Convert data to SQL


Superstore.to_sql('csv_superstore', con, if_exists='replace', index=False)

9994

In [21]:
import pandas as pd
import sqlite3

# Establish a connection to the SQLite database
con = sqlite3.connect("products.db")

# Read the "csv_orders" table into a DataFrame
df = pd.read_sql("SELECT * FROM csv_superstore", con)

# Display the DataFrame
print(df)

            Order ID Customer ID  Order Date   Ship Date       Ship Mode  \
0     CA-2016-152156    CG-12520   11/8/2016  11/11/2016    Second Class
1     CA-2016-152156    CG-12520   11/8/2016  11/11/2016    Second Class
2     CA-2016-138688    DV-13045   6/12/2016   6/16/2016    Second Class
3     US-2015-108966    SO-20335  10/11/2015  10/18/2015  Standard Class
4     US-2015-108966    SO-20335  10/11/2015  10/18/2015  Standard Class
...              ...         ...         ...         ...             ...
9989  CA-2014-110422    TB-21400   1/21/2014   1/23/2014    Second Class
9990  CA-2017-121258    DB-13060   2/26/2017    3/3/2017  Standard Class
9991  CA-2017-121258    DB-13060   2/26/2017    3/3/2017  Standard Class
9992  CA-2017-121258    DB-13060   2/26/2017    3/3/2017  Standard Class
9993  CA-2017-119914    CC-12220    5/4/2017    5/9/2017    Second Class

         Customer Name    Segment        Country             City  \
0          Claire Gute   Consumer  United States        Henderson
1          Claire Gute   Consumer  United States        Henderson
2      Darrin Van Huff  Corporate  United States      Los Angeles
3       Sean O'Donnell   Consumer  United States  Fort Lauderdale
4       Sean O'Donnell   Consumer  United States  Fort Lauderdale
...                ...        ...            ...              ...
9989  Tom Boeckenhauer   Consumer  United States            Miami
9990       Dave Brooks   Consumer  United States       Costa Mesa
9991       Dave Brooks   Consumer  United States       Costa Mesa
9992       Dave Brooks   Consumer  United States       Costa Mesa
9993      Chris Cortes   Consumer  United States      Westminster

      Postal Code Region       Product ID         Category Sub-Category  \
0           42420  South  FUR-BO-10001798        Furniture    Bookcases
1           42420  South  FUR-CH-10000454        Furniture       Chairs
2           90036   West  OFF-LA-10000240  Office Supplies       Labels
3           33311  South  FUR-TA-10000577        Furniture       Tables
4           33311  South  OFF-ST-10000760  Office Supplies      Storage
...           ...    ...              ...              ...          ...
9989        33180  South  FUR-FU-10001889        Furniture  Furnishings
9990        92627   West  FUR-FU-10000747        Furniture  Furnishings
9991        92627   West  TEC-PH-10003645       Technology       Phones
9992        92627   West  OFF-PA-10004041  Office Supplies        Paper
9993        92683   West  OFF-AP-10002684  Office Supplies   Appliances

                                           Product Name     Sales  Quantity  \
0                     Bush Somerset Collection Bookcase  261.9600         2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2     Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3         Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                        Eldon Fold 'N Roll Cart System   22.3680         2
...                                                 ...       ...       ...
9989                             Ultra Door Pull Handle   25.2480         3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600         2
9991                              Aastra 57i VoIP phone  258.5760         2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000         4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600         2

      Discount    Profit
0         0.00   41.9136
1         0.00  219.5820
2         0.00    6.8714
3         0.45 -383.0310
4         0.20    2.5164
...        ...       ...
9989      0.20    4.1028
9990      0.00   15.6332
9991      0.20   19.3932
9992      0.00   13.3200
9993      0.00   72.9480

[9994 rows x 19 columns]

In [22]:
import sqlite3
import pandas as pd

# Establish a connection to the SQLite database
con = sqlite3.connect("products.db")

# Execute the SQL query to calculate total sales by category
query = """
SELECT Category, SUM(Sales) AS TotalSales
FROM csv_superstore
GROUP BY Category
ORDER BY TotalSales DESC
LIMIT 1
"""

# Fetch the result of the query into a DataFrame
result = pd.read_sql(query, con)

# Extract the category with the maximum sales revenue
category_max_sales = result["Category"].iloc[0]

# Display the result
print("Category with Maximum Sales Revenue:", category_max_sales)

Category with Maximum Sales Revenue: Technology

In [7]:
df.fillna(0, inplace=True)

In [15]:
#Removing outliers from dataset 

# Load the dataset from CSV
df = pd.read_csv('/Users/CW/Desktop/0_CAB/Superstore_Project/Superstore_data.csv', encoding='unicode_escape')


# Identify the numerical columns for outlier analysis
numeric_columns = ['Postal Code', 'Sales', 'Quantity', 'Discount']  

# Calculate z-scores for each value in the numeric columns
z_scores = stats.zscore(df[numeric_columns])

# Define the threshold for outliers (e.g., 3 standard deviations)
threshold = 3

# Filter the DataFrame to exclude rows with outliers
df_no_outliers = df[(abs(z_scores) < threshold).all(axis=1)]

# Optional: Create a new DataFrame with outliers removed
# df_no_outliers = df[(abs(z_scores) < threshold).all(axis=1)].copy()

# Optional: Overwrite the original DataFrame with outliers removed
# df = df[(abs(z_scores) < threshold).all(axis=1)]

# Print the summary or perform further analysis on the dataset without outliers
print(df_no_outliers.describe())

       Postal Code  Sales  Quantity  Discount
count          0.0    0.0       0.0       0.0
mean           NaN    NaN       NaN       NaN
std            NaN    NaN       NaN       NaN
min            NaN    NaN       NaN       NaN
25%            NaN    NaN       NaN       NaN
50%            NaN    NaN       NaN       NaN
75%            NaN    NaN       NaN       NaN
max            NaN    NaN       NaN       NaN

In [11]:
print(df.head())

                                              Row ID        Order ID  \
0                                                  1  CA-2016-152156
1  2,CA-2016-152156,11/8/2016,11/11/2016,Second C...             NaN
2                                                  3  CA-2016-138688
3                                                  4  US-2015-108966
4                                                  5  US-2015-108966

   Order Date   Ship Date       Ship Mode Customer ID    Customer Name  \
0   11/8/2016  11/11/2016    Second Class    CG-12520      Claire Gute
1         NaN         NaN             NaN         NaN              NaN
2   6/12/2016   6/16/2016    Second Class    DV-13045  Darrin Van Huff
3  10/11/2015  10/18/2015  Standard Class    SO-20335   Sean O'Donnell
4  10/11/2015  10/18/2015  Standard Class    SO-20335   Sean O'Donnell

     Segment        Country             City  ... Postal Code  Region  \
0   Consumer  United States        Henderson  ...     42420.0   South
1        NaN            NaN              NaN  ...         NaN     NaN
2  Corporate  United States      Los Angeles  ...     90036.0    West
3   Consumer  United States  Fort Lauderdale  ...     33311.0   South
4   Consumer  United States  Fort Lauderdale  ...     33311.0   South

        Product ID         Category Sub-Category  \
0  FUR-BO-10001798        Furniture    Bookcases
1              NaN              NaN          NaN
2  OFF-LA-10000240  Office Supplies       Labels
3  FUR-TA-10000577        Furniture       Tables
4  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600       2.0
1                                                NaN       NaN       NaN
2  Self-Adhesive Address Labels for Typewriters b...   14.6200       2.0
3      Bretford CR4500 Series Slim Rectangular Table  957.5775       5.0
4                     Eldon Fold 'N Roll Cart System   22.3680       2.0

   Discount    Profit;
0      0.00   41.9136;
1       NaN        NaN
2      0.00    6.8714;
3      0.45  -383.031;
4      0.20    2.5164;

[5 rows x 21 columns]

In [21]:
df.describe()

        Postal Code         Sales     Quantity     Discount
count   7484.000000   7484.000000  7484.000000  7484.000000
mean   55587.591529    246.987420     3.776991     0.154969
std    31990.451627    674.440108     2.212994     0.205513
min     1040.000000      0.444000     1.000000     0.000000
25%    23602.000000     16.272000     2.000000     0.000000
50%    60035.000000     54.580000     3.000000     0.200000
75%    90008.000000    223.920000     5.000000     0.200000
max    99301.000000  22638.480000    14.000000     0.800000

In [23]:


# Calculate the z-scores for the "Sales" column
z_scores = zscore(df['Sales'])

# Define a threshold for outlier detection
threshold = 3

# Find the indices of outliers
outlier_indices = np.where(np.abs(z_scores) > threshold)[0]

# Print the outlier indices
print("Outlier Indices:")
print(outlier_indices)

Outlier Indices:
[]

In [24]:
# Calculate the z-scores for the "Sales" column
z_scores = zscore(df['Discount'])

# Define a threshold for outlier detection
threshold = 3

# Find the indices of outliers
outlier_indices = np.where(np.abs(z_scores) > threshold)[0]

# Print the outlier indices
print("Outlier Indices:")
print(outlier_indices)

Outlier Indices:
[]

In [27]:
# Calculate the z-scores for the "Sales" column
z_scores = zscore(df['Postal Code'])

# Define a threshold for outlier detection
threshold = 3

# Find the indices of outliers
outlier_indices = np.where(np.abs(z_scores) > threshold)[0]

# Print the outlier indices
print("Outlier Indices:")
print(outlier_indices)

Outlier Indices:
[]

In [28]:
# Calculate the z-scores for the "Sales" column
z_scores = zscore(df['Quantity'])

# Define a threshold for outlier detection
threshold = 3

# Find the indices of outliers
outlier_indices = np.where(np.abs(z_scores) > threshold)[0]

# Print the outlier indices
print("Outlier Indices:")
print(outlier_indices)

Outlier Indices:
[]

In [22]:
df.describe()

        Postal Code         Sales     Quantity     Discount
count   7484.000000   7484.000000  7484.000000  7484.000000
mean   55587.591529    246.987420     3.776991     0.154969
std    31990.451627    674.440108     2.212994     0.205513
min     1040.000000      0.444000     1.000000     0.000000
25%    23602.000000     16.272000     2.000000     0.000000
50%    60035.000000     54.580000     3.000000     0.200000
75%    90008.000000    223.920000     5.000000     0.200000
max    99301.000000  22638.480000    14.000000     0.800000